{% extends "layout.twig" %}

{% block navigation %}
  {% if vehicles %}
    <ul class="nav navbar-nav">
      {% for vehicle in vehicles %}
        <li>
          <a href="/vehicles/{{ vehicle.id }}">{{ vehicle.title }}</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    No vehicles have been found.
  {% endif%}
{% endblock %}